
services:

  app:
    image: docker/getting-started:latest
    # container_name: app
    networks:
      - net_common

  nginx:
    image: nginx:1-alpine
    container_name: nginx
    ports:
      - 80:80
    networks:
      - net_common
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      # - $HOME/docker/nginx/conf.d:/etc/nginx/conf.d # 配置文件目录挂载
      # - $HOME/docker/nginx/html:/usr/share/nginx/html # 静态资源根目录挂载
      # - $HOME/docker/nginx/logs:/var/log/nginx # 日志文件挂载

  nginx-proxy-manager:
    image: jc21/nginx-proxy-manager:latest
    container_name: nginx-proxy-manager
    ports:
      - '80:80'
      - '81:81'
      - '443:443'
    volumes:
      - $HOME/docker/nginx/proxyManager/data:/data
      - $HOME/docker/nginx/proxyManager/letsencrypt:/etc/letsencrypt

  nginx-ui:
    image: uozi/nginx-ui:latest
    container_name: nginx-ui
    ports:
      - 8080:80
      - 8443:443
    networks:
      - net_common
    volumes:
      - $HOME/docker/nginx-ui/nginx:/etc/nginx
      - $HOME/docker/nginx-ui/nginx-ui:/etc/nginx-ui
      - /var/www:/var/www
    environment:
      - TZ=Asia/Shanghai
    stdin_open: true
    tty: true

networks:
  net_common:
    external: true
