[mysqld]
server_id=20001
character-set-server=utf8mb4

log-bin=mysql-bin
binlog-format=ROW
# binlog中显示sql语句
binlog-rows-query-log-events=true
binlog-ignore-db=mysql
# 需要同步的数据库
# binlog_do_db=boot
# 确保binlog日志写入后与硬盘同步, 0:性能好,风险大,系统Crash,在binlog_cache中数据会丢失
sync_binlog=1

# 日志输出到文件/数据库,都输出用,分割,默认只输出到FILE.加上TABLE后会输出在mysql.general_log,slow_log
# log_output='FILE,TABLE'

general_log=1
# general_log_file=xxx
# 错误日志
# log-error=/var/lib/mysql/error.log
# 慢查询日志
slow_query_log=1
# slow-query-log-file=xxx

default-time-zone='+08:00'
# 8.0后只支持初始化时指定该参数,之后再修改启动报错
lower_case_table_names=1

# 设置连接超时时间为21天
wait_timeout=1814400

# 最大允许传输包的大小
max_allowed_packet=20M

# 最大连接数
max_connections=5000

[mysql]
# 设置mysql客户端默认字符集
default-character-set=utf8mb4

[mysqldump]

[client]
port=3306
default-character-set=utf8mb4
