[mysqld]
server_id=20001
log-bin=mysql-bin
binlog-format=ROW
character-set-server=utf8
# binlog中显示sql语句
binlog-rows-query-log-events=true
default-time-zone = '+08:00'
# 8.0后只支持初始化时指定该参数,之后再修改启动报错
# lower_case_table_names=1