[mysqld]
server_id=20001
log-bin=mysql-bin
binlog-format=ROW
character-set-server=utf8mb4
# binlog中显示sql语句
binlog-rows-query-log-events=true
default-time-zone = '+08:00'
# 8.0后只支持初始化时指定该参数,之后再修改启动报错
# lower_case_table_names=1

# 设置连接超时时间为21天
wait_timeout=1814400

# 最大允许传输包的大小
max_allowed_packet=20M

# 最大连接数
max_connections=5000

[mysql]
# 设置mysql客户端默认字符集
default-character-set=utf8mb4

[mysqldump]

[client]
port=3306
default-character-set=utf8mb4