[mysqld]
server-id=1001
log-bin=mysql-bin
binlog-format=ROW
server_id=20001
character-set-server=utf8
# binlog中显示sql语句
binlog-rows-query-log-events=true
default-time-zone = '+08:00'
lower_case_table_names=1