
services:
  golang:
    # image: golang:1.25
    image: bitnami/golang:1.25
    container_name: golang
    networks:
      - net_common
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - $HOME/go/pkg/mod:/go/pkg/mod # GOPATH
      - $HOME/go/src:/go/src
    environment:
      - TZ=Asia/Shanghai
    tty: true # Enables debugging capabilities when attached to this container.
    command: ["sleep", "infinity"] # To keep the container running
    # command: ["tail", "-f", "/dev/null"] # To keep the container running

  rust:
    image: rust:1-slim
    container_name: rust
    networks:
      - net_common
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - TZ=Asia/Shanghai
    tty: true
    command: ["sleep", "infinity"]

  node:
    image: node:latest
    container_name: node
    networks:
      - net_common
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - TZ=Asia/Shanghai
    tty: true
    command: ["sleep", "infinity"]

  vscode:
    image: luvx/vscode:latest
    # build:
    #   dockerfile: Dockerfile
    #   target: vscode
    container_name: vscode
    ports:
      - 8000:8000
    networks:
      - net_common
    volumes:
      - $HOME/OneDrive/Code:/workspace
      - vscode:/root/.vscode
      - vscode-server:/root/.vscode-server
    environment:
      - TZ=Asia/Shanghai
    tty: true
    command: serve-web --host=0.0.0.0 --port=8000 --without-connection-token

  grpcui:
    image: fullstorydev/grpcui:latest
    container_name: grpcui
    ports:
      - 18080:8080
    networks:
      - net_common
    command: --plaintext mini.rx:9090

networks:
  net_common:
    external: true

volumes:
  vscode:
  vscode-server:
    external: true